<app-header></app-header>
<div class="container">
    <div class="row m-3">
        <div class="col-md-12">
            <router-outlet></router-outlet>

            <!-- before implementing routing: -->
            <!-- <ng-container *ngIf="!loadedFeature">
                <app-placeholder [fillSpace]="false">
                    Click one of the menus above to have content delivered to you
                </app-placeholder>
            </ng-container>

            <app-recipes *ngIf="loadedFeature === contentAvailableToBeShown.recipes"></app-recipes>
            <app-shopping-list *ngIf="loadedFeature === contentAvailableToBeShown.shoppingList"></app-shopping-list> -->
        </div>
    </div>
</div>