<div
    [ngClass]="{'blur_it': isLoading}"
    class="row justify-content-center">
    <div class="col-md-9 col-lg-7 col-xl-6 col-xxl-5">
        <!-- <div
            *ngIf="error"
            class="alert alert-danger">
            {{ error }}
        </div> -->
        <h2 class="my-5 text-center">{{ loginMode ? 'Login' : 'Sign up' }}</h2>
        <form [formGroup]="userDataForm" (ngSubmit)="onSubmit()">
            <div class="form-group mb-3">
                <label for="email">E-mail</label>
                <input class="form-control" type="email" id="email" formControlName="email">
            </div>
            <div class="form-group mb-4">
                <label for="password">Password</label>
                <input class="form-control" type="password" id="password" formControlName="password">
            </div>
            <div>
                <button
                    [disabled]="!userDataForm.valid"
                    type="submit"
                    class="btn btn-primary me-3">
                    {{ loginMode ? 'Login' : 'Sign up' }}
                </button>
                <button type="button" class="btn btn-primary" (click)="onSwitchMode()">Switch to {{ loginMode ? 'sign up' : 'login' }}</button>
            </div>
        </form>
    </div>
</div>

<!-- This is initially a hidden component that will only show up when a request
     has been sent to backend and we're still waiting for the response. -->
<app-loading-spinner [ngClass]="[isLoading ? 'overlay' : 'hide']"></app-loading-spinner>

<!-- This component is here in the end to make sure it overlays the components
     declared earlier without having to deal with `z-index` css property
     (so far at least...) -->
<app-alert [message]="error" *ngIf="error" (close)="onHandleError()"></app-alert>