<p>these are eargerly-loaded modules/components</p>
<app-element-injector [id]="1"></app-element-injector>
<!-- <app-element-injector [id]="2"></app-element-injector>
	<app-element-injector [id]="3"></app-element-injector>
	<app-element-injector [id]="4"></app-element-injector>
	<app-element-injector [id]="5"></app-element-injector> -->
<!-- <app-comp-teste1 [id]="2"></app-comp-teste1>
<app-comp-teste2 [id]="3"></app-comp-teste2> -->

<p>these are lazy-loaded modules/components</p>
<router-outlet></router-outlet>