<div class="row">
    <div class="col">
        <form [formGroup]="recipeForm">
            <div class="row mb-2">
                <div class="col">
                    <button
                        type="submit"
                        class="btn btn-success me-2"
                        [disabled]="!recipeForm.valid"
                        (click)="onSubmit()">Save</button>
                    <button
                        type="button"
                        class="btn btn-danger"
                        (click)="onCancel()">Cancel</button>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col">
                    <div class="form-group">
                        <label for="name">Recipe name</label>
                        <input type="text" id="name" class="form-control" formControlName="name">
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col">
                    <div class="form-group">
                        <label for="iamgePath">Image path</label>
                        <input type="text" id="iamgePath" class="form-control" formControlName="imagePath">
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col">
                    <img [src]="recipeForm.get('imagePath')?.value" alt="recipe photo preview" class="img-fluid rounded-1">
                </div>
            </div>
            <div class="row mb-2">
                <div class="col">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea
                            type="text"
                            id="description"
                            class="form-control"
                            rows="6"
                            formControlName="description"></textarea>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col">
                    <div class="form-group" formArrayName="ingredients">
                        <label>Ingredients</label>
                        <ng-template ngFor let-ingredient [ngForOf]="recipeIngredients.controls" let-i="index">
                            <div class="form-group" [formGroupName]="i">
                                <div class="row mb-1">
                                    <div class="col-7 col-lg-8 pe-0">
                                        <input type="text" class="form-control" formControlName="name">
                                    </div>
                                    <div class="col-4 col-lg-3 pe-0">
                                        <div class="row">
                                            <div class="col-5 pe-0">
                                                <input type="number" class="form-control" formControlName="amount">
                                            </div>
                                            <div class="col-7 pe-0">
                                                <select class="form-select" formControlName="unitOfMeasure">
                                                    <ng-template ngFor let-unit [ngForOf]="unitsOfMeasure | objectKeys" let-i="index">
                                                        <option [value]="unit">{{ unit }}</option>
                                                    </ng-template>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-1">
                                        <button type="button" class="btn btn-danger" (click)="onDeleteIngredient(i)">X</button>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <button
                            class="btn btn-success mt-2"
                            type="button"
                            (click)="onAddIngredient()">Add ngredient</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>