/* Target input type number and set appearance to none */
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
    /* Firefox */
    /* Internet Explorer */
}

/* Hide the arrows for webkit browsers (like Chrome and Safari) + Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Highlight in red invalid control fields that have already been touched */
input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
    border: 1px solid red;
}