<div class="row">
    <div class="col-md-5">
        <app-recipe-list></app-recipe-list>
    </div>
    <div class="col-md-7">

        <router-outlet></router-outlet>

        <!-- before implementation of routing -->
        <!-- <ng-container *ngIf="selectedRecipe; else noRecipePlaceholder">
            <app-recipe-detail [recipeDetail]="selectedRecipe"></app-recipe-detail>
        </ng-container>

        <ng-template #noRecipePlaceholder>
            <app-placeholder>
                Click on a recipe to have its details displayed here
            </app-placeholder>
        </ng-template> -->

    </div>
</div>