<div class="row">
    <div class="col-xs-12">
        <button type="button" class="btn btn-success">New Recipe</button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="list-group">
            <ng-template ngFor let-recipe [ngForOf]="recipes">
                <!-- before this aproach below emiting just the recipe, I was catching the recipeItemComponent created
                through a local (template) reference #recipeItemSelected and emitting recipeItemSelected.recipe,
                but, as this is also works, is simpler and more efficient (I think), I've refactored it this way -->
                <app-recipe-item [recipeInfo]="recipe"></app-recipe-item>
            </ng-template>
        </div>
    </div>
</div>