<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
			<br><br>
			<div *ngIf="onlyOdd">
				<ul class="list-group">
					<li class="list-group-item" *ngFor="let odd of oddNumbers">
						{{ odd }}
					</li>
				</ul>
			</div>
			<!-- this is a custom structural directive which behaves the opposite of ngIf -->
			<div *appUnless="onlyOdd">
				<ul class="list-group">
					<li class="list-group-item" *ngFor="let even of evenNumbers">
						{{ even }}
					</li>
				</ul>
			</div>
			<ng-template [ngIf]="onlyOdd">
				<p>Only odd</p>
			</ng-template>
			<p appBasicHighlight>This paragraph was styled by a custom directive</p>
			<!-- in this case i'm not using [] on the directive/@Input appBetterHighlight and @Input defalutColor
			because the value that's these should receive is a string, hence, no need for the value within "" to
			be evaluated as a string (ex: [appBetterHighligh]t="'red'"), it already is a string -->
			<p appBetterHighlight="red" defaultColor="lightgrey">This paragraph was styled by a custom directive</p>
		</div>
	</div>
</div>