<!-- Note in the template bellow that as we assign "ngForm" to a template reference variable, we
     get access to the ngForm directive and thus values, validations, among other things of the
     form (something that Angular docs relates to as `Form's Object Model` sometimes).
     
     If we assign "ngModel" to a template reference variable, we get access directly to that form
     control (FormControl object) this ngModel directive is responsable for.
     
     If we assing "ngModelGroup" to a template reference variable, we get access the group of 
     form controls (FormGroup object) used within the element which the `ngModelGroup` directive
     was used in -->

<!-- Assign a value to ngModel directive to have that as the default value for that form control.
     Use [ngModel]="sthInTsFile" to use something from the component's class as default value.
     The `value` attribute of <input> (or `selected` for <option> in case of <select>) won't work
     if the ngModel directive is being used -->

<div class="container">
    <div class="row">
        <div class="col">
            <form (ngSubmit)="onSubmit()" #f="ngForm">
                <!-- differently from ngModel, ngModelGroup access key in FOM will be set directly in
                     directive selector instead of a `name` attr -->
                <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup" class="mb-3">
                    <div class="form-group mb-2">
                        <label for="username">Username</label>
                        <input
                            type="text"
                            id="username"
                            class="form-control"
                            name="username"
                            ngModel="gabriel-q"
                            required
                            #username="ngModel">
                    </div>
                    <button class="btn btn-secondary mb-3" type="button">Suggest an Username</button>
                    <div class="form-group mb-1">
                        <label for="email">Mail</label>
                        <input
                            type="email"
                            id="email"
                            class="form-control"
                            name="email"
                            ngModel
                            required
                            email
                            #email="ngModel">
                    </div>
                    <div class="form-text invalid-message" *ngIf="userData.invalid && userData.touched">Please provide valid user information for the fields above</div>
                </div>
                <div class="form-group mb-3">
                    <label for="secret">Secret Questions</label>
                    <select
                        id="secret"
                        class="form-control"
                        name="secret"
                        [ngModel]="defaultSecret"
                        required
                        #secret="ngModel">
                        <option value="pet">Your first Pet?</option>
                        <option value="teacher">Your first teacher?</option>
                    </select>
                    <div class="form-text invalid-message" *ngIf="secret.invalid && secret.touched">Please select a secret!</div>
                </div>
                <div class="form-group mb-2">
                    <textarea
                        class="form-control"
                        name="questionAnswer"
                        rows="3"
                        [(ngModel)]="answer"></textarea>

                    <!-- I don't how it's actually implemented to have this behavior, but, apparently,
                         the [(ngModel)] works as a shortcut for the property binding acchieved using
                         [ngModel]="answer" and event binding acchieved using (ngModelChange)="answer = $event".

                         This way, if the `tsProp` value changes in the TS comp. class, the [ngModel]
                         updates the value in the html template, and if the value is directly changed
                         in the html template, the `ngModelChange` event is fired (from within the
                         ngModel directive, it's an EventEmitter set up with @output('ngModelChange')
                         there) and the command "answer = $event" is run, thus, updating the `answer`
                         prop value in the TS comp. class - more in: https://angular.io/api/forms/NgModel
                        
                         Uncomment the element bellow and see (kind of) how it works -->

                    <!-- <textarea
                        class="form-control"
                        name="questionAnswer2"
                        rows="3"
                        [ngModel]="answer" (ngModelChange)="answer = $event"></textarea> -->
                </div>
                <p>Your reply: {{ answer }}</p>
                <button
                    class="btn btn-primary"
                    type="submit"
                    [disabled]="!f.valid">Submit</button>
            </form>
        </div>
    </div>
</div>