<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-4 col-xl-3">
		<div class="list-group">
			<!-- each elem of the array passed to [routerLink] is a segment of the url that this will point to
			     the '/' and it's variations should be used only in the very first elem, a '/' will be added
			     automatically in between the other elements the compose the segments of the url -->

			<!-- queryParams and fragment are @inputs of routerLink directive 
			     - queryParams adds query params in the end of url ex: ?allowEdit=1
				 - fragment adds a frangment reference in the end of url ex: #loading (there can only be one fragment)
				 the final url of this routerLink below will be: .../servers/5/edit?allowEdit=1#loading -->
			<a [routerLink]="['/servers', server.id]"
			   [queryParams]="{allowEdit: server.id === 3 ? 1 : 0}"
			   fragment="loading"
			   href="#" class="list-group-item"
			   *ngFor="let server of servers">
				{{ server.name }}
			</a>

		</div>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-xl-3">
		<!-- <app-edit-server></app-edit-server> -->
		<!-- <app-server></app-server> -->
		<router-outlet></router-outlet>
	</div>
</div>