<div class="row">
	<div class="col-xs-12 col-sm-4">
		<div class="list-group">
			<!-- each elem of the array passed to [routerLink] is a segment of the url that this will point to -->
			<!-- the '/' and it's variations should be used only in the very first elem, a '/' will be added -->
			<!-- automatically in between the other elements the compose the segments of the url -->
			<a [routerLink]="['/servers', 5, 'edit']" href="#" class="list-group-item" *ngFor="let server of servers">
				{{ server.name }}
			</a>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4">
		<app-edit-server></app-edit-server>
		<hr>
		<app-server></app-server>
	</div>
</div>