<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand c-pointer">Recipe Book</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/recipes" routerLinkActive="active">Recipes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/shoppingList" routerLinkActive="active">Shopping List</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li appDropdown class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle c-pointer" id="navbarDropdown" role="button" data-bs-toggle="dropdown">Manage</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item c-pointer">Save Data</a></li>
                        <li><a class="dropdown-item c-pointer">Fetch Data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>