<a class="list-group-item list-group-item-action c-pointer" [routerLink]="['./', recipe.id]">
    <div class="d-flex justify-content-between bg-light p-2 rounded-1 border border-dark-subtle my-2">
        <div>
            <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
            <p class="list-group-item-text">{{ recipe.description }}</p>
        </div>
        <div>
            <img [src]="recipe.imagePath" [alt]="recipe.name" class="img-fluid rounded-1" style="max-height: 64px;">
        </div>
    </div>
</a>