<button class="btn btn-primary m-2" type="button" routerLink="/always">/always</button>
<button class="btn btn-primary m-2" type="button" routerLink="/paramsChange">/paramsChange</button>
<button class="btn btn-primary m-2" type="button" routerLink="/ParamsOrQueryParamsChange">/ParamsOrQueryParamsChangeRoutingModule</button>
<button class="btn btn-primary m-2" type="button" routerLink="/pathParamsChange">/pathParamsChange</button>
<button class="btn btn-primary m-2" type="button" routerLink="/pathParamsOrQueryParamsChange">/pathParamsOrQueryParamsChange</button>
<hr>
<router-outlet></router-outlet>