<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <!-- the [formGroup] directive takes the FormGroup object instance created in the
                 component's class as value and syncs this <form> with that -->
            <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                <!-- if there is an nested FormGroup in the main FormGroup you've got to express
                     this here in the template too, otherwise you won't be able to sync the controls
                     within this nested FormGroup as Angular, via formControlName directive, would
                     be looking for those in the "top level" of the main FormGroup and after not
                     finding these there, an runtime error would happen -->
                <div formGroupName="userData">
                    <div class="form-group mb-2">
                        <label for=" username">Username</label>
                        <!-- the formControlName directive takes the name (as a plain string) of
                         FormControl object instance present within the FormGroup synced to <form>,
                         if for example 'username' was a standalone FormControl, you might want to
                         use the [formControl] directive and pass to that directly the instance of
                         that FormControl instead of just its name, just like it was done with the
                         FormGroup object above -->
                        <input
                            formControlName="username"
                            type="text"
                            id="username"
                            class="form-control">
                        <!-- as shown bellow, in reactive forms I'll get to access each control through the .get()
                         method which should receive the control path. Yes, you can access the same controls via
                         <FormGroup>.controls['controlName'], which is actually faster (performace wise), but in
                         more complex form structures (e.g. nested form groups/arrays) tends to be a lot more
                         and yield a less readable code (e.g. <FormGroup>.controls['a1'].controls['b2'].controls['c3']
                         vs <FormGroup>.get('a1.b2.c3') or <FormGroup>.get(['a1', 'b2', 'c3'] as const)) -->
                        <span
                            *ngIf="signupForm.get('userData.username')?.errors?.['required'] && signupForm.get('userData.username')?.touched"
                            class="form-text">Please enter a valid username!</span>
                        <span
                            *ngIf="signupForm.get('userData.username')?.errors?.['forbiddenName'] && signupForm.get('userData.username')?.touched"
                            class="form-text">This username is forbidden!</span>
                    </div>
                    <div class="form-group mb-2">
                        <label for="email">email</label>
                        <input
                            formControlName="email"
                            type="text"
                            id="email"
                            class="form-control">
                        <span
                            *ngIf="!signupForm.get('userData.email')?.valid && signupForm.get('userData.email')?.touched"
                            class="form-text">Please enter a valid email!</span>
                    </div>
                </div>
                <div class="radio" *ngFor="let gender of genders">
                    <label>
                        <input
                            formControlName="gender"
                            type="radio"
                            name="gender"
                            [value]="gender"> {{ gender }}
                    </label>
                </div>
                <!-- the formArrayName directive will in this case sync the `hobbies` FormArray 
                     which is declared within the signupForm FormGroup -->
                <div formArrayName="hobbies" class="mt-2">
                    <h5>Your hobbies</h5>
                    <button class="btn add-hobby-btn" type="button" (click)="onAddHobbies()">Add hobby</button>
                    <div class="form-group">
                        <ng-template ngFor let-hobbie [ngForOf]="getHobbiesControls()" let-i="index">
                            <input
                                type="text"
                                [formControlName]="i"
                                class="form-control mt-1">
                            <!-- in the usage of the .get() method with an array as argument, the ideal format would
                                 be to assert with `as const` but as the template doesn't recognizes this annotation
                                 as valid and I'd have to do it in the .ts file and "export" it in a new property to
                                 be used here, I chose to just not do it and I'll work just the same in this case -->
                            <span
                                *ngIf="!signupForm.get(['hobbies', i])?.valid && signupForm.get(['hobbies', i])?.touched"
                                class="form-text">Please enter a valid hobby!</span>
                        </ng-template>
                    </div>
                </div>
                <span
                    *ngIf="!signupForm.valid && signupForm.touched"
                    class="form-text d-block">Please enter a valid data!</span>
                <button class="btn btn-primary mt-3" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>