<div class="container">
    <div class="row">
        <div class="col">
            <!-- Create a Form with the following Controls and Validators
            1) Project Name (should not be empty)
            2) Mail (should not be a empty and a valid email)
            3) Project Status Dropdown, with three values: 'Stable', 'Critical', 'Finished'
            4) Submit Button
  
            Add your own Validator which doesn't allow "Test" as a Project Name
  
            Also implement that Validator as an async Validator (replace the other one)
  
            Upon submitting the form, simply print the value to the console -->
            <form (ngSubmit)="onSubmit()" [formGroup]="projectForm">
                <div class="form-group mb-3">
                    <label for="project-name">Project name</label>
                    <input
                        id="project-name"
                        type="text"
                        class="form-control"
                        formControlName="projectName">

                    <!-- the projectName form control bellow is actually a getter defined in the component's class -->
                    <span
                        *ngIf="projectName.errors?.['required'] && projectName.touched"
                        class="form-text">[ ! ] Please provide a valid name</span>
                    <span
                        *ngIf="projectName.errors?.['forbiddenProjectName'] && projectName.touched"
                        class="form-text">[ ! ] "{{ projectName.errors?.['forbiddenProjectName'].value }}" is forbidden as project name</span>
                </div>
                <div class="form-group mb-3">
                    <label for="email">Email</label>
                    <input
                        id="email"
                        type="text"
                        class="form-control"
                        formControlName="email">

                    <!-- The email form control bellow is actually a getter defined in the component's class -->
                    <span
                        *ngIf="(email.errors?.['required'] || email.errors?.['email']) && email.touched"
                        class="form-text">[ ! ] Please provide a valid email</span>

                    <!-- As of angular form input validation documentation, async validators (e.g. upperCaseEmailValidator)
                             if all sync valitors succeed, if any of these fail, the async validators won't run, this happens
                             for performance reasons -->
                    <span
                        *ngIf="email.errors?.['upperCaseEmail'] && email.touched"
                        class="form-text">[ ! ] There can be no upper case letters in the email</span>
                </div>
                <div class="form-group mb-3">
                    <label for="status">Project staus:</label>
                    <select
                        id="status"
                        class="form-select"
                        formControlName="status">
                        <option value="stable">Stable</option>
                        <option value="critical">Critical</option>
                        <option value="finished">Finished</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>